/calificaciones/nbproject/private/
/calificaciones/build/
/Matrices/nbproject/private/
/Matrices/build/
/Matricesfacil/nbproject/private/
/PilaNuevo/nbproject/private/
/PilaNuevo/build/
/TareasUnidad2/nbproject/private/
/TareasUnidad2/build/